FlashCardFinal/xml-resources/jaxb/Decks/Decks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Sat Apr 14 2018 16:12:41 GMT+0000 (Greenwich Standard Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="root">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="results" maxOccurs="unbounded">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="title" type="xs:string"></xs:element>
                                                 <xs:element name="card" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="kanji" type="xs:string"></xs:element>
                                                                      <xs:element name="reading" type="xs:string"></xs:element>
                                                                      <xs:element name="trans" type="xs:string"></xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>